<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="jumbotron">
          <div class="container">
            <div class="row welcome_path">
              <div class="col-lg-6 welcome_content">
                <h1>Welcome to Paths</h1>
                <p>Paths are a customized list of courses and workshops that provide a guided learning path for a particular subject. Each course or workshop in a path builds on the previous one, so that as you progress through a learning path you gain a solid understanding of the topic.</p>
            </div>
            <div class="col-lg-6 library_image hidden-md-down">
            <%= image_tag("welcome_header.png", class: "img-fluid") %>
            </div>
          </div>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-10 col-sm-10">
      <h3>Browse Paths</h3>
      <p>Browse paths across an array of disciplines.</p>
    </div>

    <%= render 'paths/path' %>
  </div>
</div>
 


