<% @topic.each do |topic| %>

<div class="col-sm-3">
	<div class="card card-inverse topic_card">
		<%= image_tag(topic.image, class: "card-img card-img-top img-fluid") %>
			
			<div class="card-img-overlay justify-content-center">
				<h4><%= link_to "#{topic.title}", topic_path(topic), class: "card-title" %></h4>
			</div>
	</div>
</div>

<% end %>
