<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10 offset-lg-2 col-md-12 offset-md-0"
			<h2><%= @topic.title %></h2>
			<image><%= image_tag @topic.image %></image>	
		</div>
	</div>
		<div class="row">
			<%= render 'topics/course' %>
		</div>
	</div>
</div>

