<div class="container-fluid">

	<div class="row">
		<div class="col-md-12 text-center">
				<ul class="Course_progress fa-ul">
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon active"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				  <li class="fa-li fa fa-play-circle course_progress_icon"></li>
				</ul> 
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 align-self-center">
			<div class="card card-inverse course_cover_card">
				<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/67896650"  allowfullscreen></iframe>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="container">

<div class="row ">
		<div class="col-lg-12">
			<div class="video_content">
				<h3 class="video_title">Push Performance <span class="pull-right">2:32</span></h3>
				<p class="teacher_name_video">with <strong>Matt Ridgway</strong></p>
				<p class="video_description">Push is the music making instrument that perfectly integrates with Ableton Live. Make a song from scratch with hands on control of melody, beats and structure.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		<!-- Nav tabs -->
			<ul class="nav nav-tabs video_items" role="tablist">
				<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#teaching" role="tab">Notes</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#questions" role="tab">Questions</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#messages" role="tab">Transcript</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#downloads" role="tab">Downloads</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#collaborate" role="tab">Collaborate</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="teaching" role="tabpanel">
				<h4 class="course_content_heading">Concepts Covered</h4>
				<p> Push is a powerful, grid based performance controller for Ableton Live. <br> Session view is the representation of clips with color indication reflecting each clip. <br>Drum sequencing and note sequencing are flexible ways to use Push to create patterns of midi notes.</p>
				</div>
				<div class="tab-pane" id="questions" role="tabpanel">...</div>
				<div class="tab-pane" id="transcript" role="tabpanel">...</div>
				<div class="tab-pane" id="downloads" role="tabpanel">...</div>
				<div class="tab-pane" id="collaborate" role="tabpanel">...</div>
			</div>
		</div>
	
	</div>
</div>