<% @topic.take(8).each do |topic| %>

<div class="col-sm-3">
	<div class="card card-inverse topic_card">
		<%= image_tag(topic.image, class: "card-img img-fluid") %>
			
			<div class="card-img-overlay">
				<h4 class="card-title"><%= topic.title %></h4>
			</div>
	</div>
</div>

<% end %>
