// Card CSS

.card {
	border-radius: 14px;
	border: none;
	margin-bottom: 25px;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
}

.card-img-overlay {
	z-index: 1;
}

.card:hover {
	 box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.07);
}

.card-img-top {
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
	width: auto;
}

.progress_card {
	z-index: 2;
}

.progress_card i {
	color: white;
}

.progress_card {
	color: white;
}

.card-footer {
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	background-color: white;
	border-top: none;
	z-index: 2;
}

.card-img-black {
	opacity: 0.45;
	background-color: #00000;
}

.card-footer:last-child {
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.btn {
	border-radius: 14px;
}

.btn-card-resume {
	background-color: #63aeff;
	border-color: none;
	color: black;
	letter-spacing: 1.8px;
}

.btn-card-start {
	background-color: #50e3c2;
	border-color: none;
	letter-spacing: 1.8px;
	color: black;
}



.bottom_icons {
	float: right;
	}

.bottom_font_icon {
	vertical-align: middle;
	margin-left: 21px;
}

//Topic Card

.topic_card {
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
}

.topic_card .card-title {
	text-align: center;
	padding-top: 25%;
}

// path_cover Card

.path_card_image_container {
	max-height: 122px;

}

.path_card_wrapper:after {
    bottom: 10px;
    left: 50%;
    margin-left: -5px;
    width: 10px;
    height: 47px;
    background: #d4d9dd;
    border-radius: 5px;
}

.subtitle_path_card {
	color: grey;
}

//Course Cover Card

.course_cover_card {
	margin-top: 25px;
	font-size: 1.2em;
	min-height: 470px;
}

.course_cover_card h4 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2.4px;
}

.course_cover_card p {
	font-weight: 500;
	line-height: 1.67;
	letter-spacing: 1.8px;
	color: #fffcfc;
}

.btn-card-start-black {
	background-color: #000000;
	border-color: none;
	letter-spacing: 1.8px;
	color: white;
}

.btn-tag {
	font-weight: bold;
	letter-spacing: 1.8px;
	border: solid 1px #979797;
	color: black;

}

.btn-tag:hover {
	font-weight: bold;
	letter-spacing: 1.8px;
	border: solid 1px #979797;
	color: black;

}

.tag_cloud .btn {
	margin-right: 12px;
}

.tag_cloud {

	margin-bottom: 21px;
}

.course_card_description {
	font-weight: lighter;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.9;
	letter-spacing: 1.8px;

}

.course_card_header {
	padding-bottom: 19px;
	padding-top: 12px;
}

.course_feature_image {
	min-height: 470px;
}


//Course Video

.course_video {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 25px;
}

.btn-progress {
	font-weight: bold;
	background-color: transparent;
	color: black;
	border-radius: 45px;

}

.btn-progress:hover {
	border-color: transparent;
}

.btn-progress:active {
	border-color: transparent;
}

.Course_progress {
	padding: 10px;

}

.fa-li {
	display: inline-block;
	position: relative;
}

.course_progress_icon {
	font-size: 18px;
}

.progress_line {
	width: 77px;
	border: solid 5px #000000;
}

.video_items li {
	line-height: 2.33;
	letter-spacing: 1.8px;
	color: #000000;
	font-size: 12px;
	border-color: transparent;
}

.video_content {
	
}

.tab-pane {
	padding-top: 30px;
}

.course_content_heading {
	margin-bottom: 12px;
}

//Login card

//Subscription card

.plan_card {
	height: 430px;
	margin-top: 25px;
}

.table_plans {
	border-radius: 11px;
	background-color: #f0fffc;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
	font-size: 12px;
}

tr {
	padding-right: 20px;
}

th:last-child,
td:last-child,
th:nth-last-child(3),
td:nth-last-child(3) {
    text-align: right;
}

