.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand {
	font-size: 24px;
	letter-spacing: 3.6px;
	margin-left: 35px;
	margin-right: 115px;
}

.nav-item {
	font-size: 14px;
	letter-spacing: 2.7px;
	text-align: center;
	margin-left: 45px;
	color: white;
}

.footer_content {
	padding-bottom: 25px;
	margin-bottom: 55px;
}

.list-group-item {

	border: none;
}

//nav-tab items in page

.nav-item {
	margin-left: 6px;
	font-size: 10px;
}

.nav-tabs .nav-tabs:active .nav-tabs:hover .nav-tabs:focus {
	border-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link .nav-link:hover .nav-tabs:focus {
	border-color: transparent;
	border-bottom-color: grey;
}

.tab-content {
	padding-bottom: 30px;
}