.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand {
	font-size: 24px;
	letter-spacing: 3.6px;
	margin-left: 35px;
	margin-right: 115px;
}

.nav-item {
	font-size: 18px;
	letter-spacing: 2.7px;
	text-align: center;
	margin-left: 45px;
	color: white;
}

.footer_content {
	padding-bottom: 25px;
	margin-bottom: 55px;
}

.list-group-item {

	border: none;
}