.search_bar {
	border-radius: 14px;
	background-color: #ffffff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}

.list-inline-item {
	padding-right: 5px;
	padding-left: 12px;
	font-size: 14px;
	letter-spacing: 2.4px;
}

.search_bar .list-inline {
	padding-top: 10px;
	padding-bottom: 3px;
	margin-bottom: 0px;
}