.user_page {
	min-height: 600px;
	background-image: center center
}

.user_card {
	margin-top: 35%;
}

.user_card {
	padding: 30px;
}

.user_card .btn {
	margin: 16px;
}

.user_card .form-control {
	margin-bottom: 5px;

}

.signup_image {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: none;
}