<footer class="footer">
      <div class="container-fluid">
      	<hr>
        <div class="footer_content">

        	<ul class="list-inline">
        			<li class="list-group-item pull-left"><i class="fa fa-facebook-square fa-3"></i></li>
        			<li class="list-group-item pull-left"><i class="fa fa-youtube-square fa-2"></i></li>
        			<li class="list-group-item pull-left">ENABLE, Made in Melbourne, AU.</li>
        			<li class="list-group-item pull-right">2017, Enable.</li>
					<li class="list-group-item pull-right">Privacy</li>
					<li class="list-group-item pull-right">Terms and Conditions</li>
					<li class="list-group-item pull-right">Blog</li>
        		</ul>
    		</div> 
		</div>
    </footer>